<html>                                                                  
<head>                                                                  
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="dynhead.js"></script>

<script type="text/javascript">

$(document).ready(function() {
  last_update = "";
  grid_view = new GridView(200, 16, "http://localhost:4567", "#grid","#grid_container",12);
  grid_view.render();
  grid_view.load_points();
});

</script>

<style type="text/css">

body {
  margin: 0;
  padding: 0;
}
#grid_container {
  margin-top: 20px;
  margin-left: 20px;
  width: 1600px;
  position: relative;
}
#grid {
  width: 100%;
  border-collapse: collapse;
  background-color: #A2A2A2;
}
#grid tr td {
  font-size: 12px;
  border: 1px solid silver;
  padding: 4px;
}
img.unit {
  position: absolute;
  width: 12px;
}

</style>

</head>
<body>
<div id="grid_container">
  <table id="grid">
  </table>
</div>
</body>
</html>