<html>                                                                  
<head>                                                                  
<script type="text/javascript" src="jquery.js"></script>          
<script type="text/javascript">

function render(grid_array) {
  // get the size of the array
  var ylimit = grid_array.length;
  // since all elements in the array are the same size we can identify width using the length of the first array
  var xlimit = grid_array[0].length;
  
  for (var i = 0;i < ylimit;i++) {
    cells = "";
    for (var j = 0;j < xlimit;j++) {
      // cells += "<td>" + $j + " " + $i + "</td>";
      cells += "<td></td>";
    }
    $("<tr>" + cells + "</tr>").appendTo(this.table);
  }
  
  this.xwidth = Math.round($(this.table).width() / xlimit);
  $(this.table + " tr td").css({ "width" : this.xwidth + "px", "height" : this.xwidth + "px" })
  
}

function render_click(x, y) {
  // correct widths so the placed object is centered (since it is placed according to top-left coordinate)
  var width_correction = this.unit_width / 2;
  x -= width_correction;
  y -= width_correction;
  $("<img class='unit' src='white.png' />").css({ "left":x + "px", "top":y + "px" }).appendTo(this.container);  
}

function GridView(table, container, unit_width) {
  this.table = table;
  this.container = container;
  this.unit_width = unit_width;
  this.xwidth = 0;
  
  // methods
  this.render = render;
  this.render_click = render_click;
  
  // events
  $(this.table).bind("click", { grid_view : this }, click_update);
}

// load grid data points from web service
function load_points() {
  var gd = this;
  $.get(this.dback + "/points", function(data) {
    var items = eval(data);
    
    /*
    for (i = 0;i < items.length;i++) {
      gd.grid_array[items[i].x][items[i].y] = items[i].opacity;
      alert(gd.grid_array[item.x][item.y]);
    }
    */
    
    $.each(items, function(i,item) {
      gd.grid_array[item.x][item.y] = item.opacity;
    });
    
  });
}

// store new click data (although it's not necessarily used at this point) and then push it to web service
function update(x, y) {
  x = x / this.click_divisor;
  y = y / this.click_divisor;
  $.post(this.dback + "/update", { x: x, y: y }, function(data) {
    alert(data);
    
  });
  
}

function GridData(xlimit, ylimit, dback) {
  this.xlimit = xlimit;
  this.ylimit = ylimit;
  this.dback = dback;
  this.click_divisor = 0; // the value that will be used to normalize click points - will be set to gridview's xwidth
  this.grid_array = new Array(ylimit);
  for (i = 0;i < ylimit;i++) {
    this.grid_array[i] = new Array(xlimit);
  }
  
  // methods
  this.load_points = load_points;
  this.update = update;
}

// not part of any object
function click_update(e) {
  // clicks should snap to grid  
  // do this by dividing by xwidth, rounding the result, then multiplying by that
  var x = (e.pageX - $(grid_view.container).offset().left);
  x = Math.round(x / grid_view.xwidth) * grid_view.xwidth;
	var y = (e.pageY - $(grid_view.container).offset().top);
	y = Math.round(y / grid_view.xwidth) * grid_view.xwidth;
	
	grid_view.render_click(x, y);
  grid_data.update(x, y);
}

$(document).ready(function() {
  grid_data = new GridData(200,16,"http://localhost:4567");
  grid_data.load_points();
  
  grid_view = new GridView("#grid","#grid_container",12);
  grid_view.render(grid_data.grid_array);
  
  grid_data.click_divisor = grid_view.xwidth;
});

var grid_data;
var grid_view;

</script>

<style type="text/css">

body {
  margin: 0;
  padding: 0;
}
#grid_container {
  margin-top: 20px;
  margin-left: 20px;
  width: 1600px;
  position: relative;
}
#grid {
  width: 100%;
  border-collapse: collapse;
  background-color: #A2A2A2;
}
#grid tr td {
  font-size: 12px;
  border: 1px solid silver;
  padding: 4px;
}
img.unit {
  position: absolute;
  width: 12px;
}

</style>

</head>
<body>
<div id="grid_container">
  <table id="grid">
  </table>
</div>
</body>
</html>